@using FirstIslandBankCorporation.Models
@model MiniStatementModel
@{
    ViewBag.Title = "Home Page";
}

<style>
    .button {
        font-size: 12px;
    }

    .dropbtn {
        background-color: #999999;
        color: white;
        padding: 8px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }

    input[type=text] {
        width: 50%;
        height: 1%;
        padding: 1px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#convertionRate').click(function (e) {
            e.preventDefault();

            var fromCur = $("#fromCurrency").val();
            var toCur = $("#toCurrency").val();

            if (fromCur != "" && toCur != "") {
                var postData = {
                    fromCurrency: fromCur,
                    toCurrency: toCur
                };

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("ConversionRate", "Home"))",
                    data: postData,
                    success: function (data) {
                        $("#rate").val(data.Result);
                        return true;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    },
                });
            }
            else {
                $("#rate").val("");
                return false;
            }
            
        });
    });
</script>

<div class="jumbotron">
    <h3>Accounts</h3>
    <h5><b>Total Available Balance.</b></h5>
    <h5><b>Rs. @Model.TotalAvaialbeBalance.ToString("0.00")</b></h5>

    @{
        if (Model.HasSavingsAccount)
        {
            <h6><b>Savings Account </b></h6>
            if (Model.SavingAccountTransactionCount > 0)
            {
                <h6>@Model.SavingsAccountNumber&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs.@Model.SavingAccountBalance.ToString("0.00")&nbsp;&nbsp;&nbsp;&nbsp;<a id="1" href="@Url.Action("ViewMiniStatement", "MiniStatement", new { userId = Model.UserId, accountId = Model.SavingsAccountId })">View Mini Statement </a></h6>
            }
            else
            {
                <h6>@Model.SavingsAccountNumber&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs.@Model.SavingAccountBalance.ToString("0.00")&nbsp;&nbsp;&nbsp;&nbsp;No Transactions</h6>
            }
        }
        if (Model.HasCurrentAccount)
        {
            <h6><b>Current Account </b></h6>
            if (Model.CurrentAccountTransactionCount > 0)
            {
                <h6>@Model.CurrentAccountNumber&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs.@Model.CurrentAccountBalance.ToString("0.00")&nbsp;&nbsp;&nbsp;&nbsp;<a id="2" href="@Url.Action("ViewMiniStatement", "MiniStatement", new { userId = Model.UserId, accountId = Model.CurrentAccountId })">View Mini Statement </a></h6>
            }
            else
            {
                <h6>@Model.CurrentAccountNumber&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs.@Model.CurrentAccountBalance.ToString("0.00")&nbsp;&nbsp;&nbsp;&nbsp;No Transactions</h6>
            }
        }
        if (Model.HasSeniorCitizenAccount)
        {
            <h6><b> Senior Citizen Account </b></h6>
            if (Model.SeniorCitizenTransactionCount > 0)
            {
                <h6>@Model.SeniorCitizenAccountNumber&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs.@Model.SeniorCitizenAccountBalance.ToString("0.00")&nbsp;&nbsp;&nbsp;&nbsp;<a id="3" href="@Url.Action("ViewMiniStatement", "MiniStatement", new { userId = Model.UserId, accountId = Model.SeniorCitizenAccountId })">View Mini Statement </a></h6>
            }
            else
            {
                <h6>@Model.SeniorCitizenAccountNumber&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs.@Model.SeniorCitizenAccountBalance.ToString("0.00")&nbsp;&nbsp;&nbsp;&nbsp;No Transactions</h6>
            }
        }

        <div>
            <table>
                <tr>
                    <td><h5><b>Currency Conversion Rate</b></h5></td>
                </tr>
                <tr>
                    <td><h6>From Currency :</h6></td>
                    <td>@Html.DropDownList("fromCurrency", Model.CountryList, "--Select--", new { @class = "dropbtn" })</td>
                </tr>
                <tr>
                    <td><h6>From Currency :</h6></td>
                    <td>@Html.DropDownList("toCurrency", Model.CountryList, "--Select--", new { @class = "dropbtn" })</td>
                </tr>
                <tr>
                    <td><h6>Rate :</h6></td>
                    <td>@Html.TextBox("rate", null, new { @readonly = "true" })</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="button" value="Convert" class="button" id="convertionRate" /></td>
                </tr>
            </table>
        </div>
    }


</div>
